@font-face {
	font-family: 'Aller_Rg';
	src: url('../fonts/Aller_Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSansOT-Regular';
	src: url('../fonts/FiraSansOT-Regular.otf') format('truetype');
	font-weight: lighter;
	font-style: normal;
	font-stretch:ultra-condensed;
	font-size:18px;
}
*/
@font-face {
	font-family: 'Amble-Regular';
	src: url('../fonts/Amble-Regular.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
	font-size:22px;
}



#header, .tab-headers {
	background-color: #D6D6D6;
	font-family: 'Exo';
	margin: 0;
}

html, body {
	background-color: #D6D6D6;
	font-family: 'Amble-Regular';
	margin: 0;
	padding: 0;
	height:100%;
}

img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}
.btn {
	background: url(../images/bg-button.png) no-repeat;
	background-position: 0 -70px;
	color: #fff;
	display: inline-block;
	font: 24px/60px 'Aller_Rg';
	height: 60px;
	width: 230px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.btn:hover {
	background-position: 0 0;
}

#container {
	min-height:101%;
   	position:relative;
	width:100%;
	min-width:990px;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #FFF;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0%;
	margin: 0 auto;
	width: 100%;
}
#header > div {
	width: 70%;
	margin: auto;
	padding: 0 0 0 10px;
	height: 80px;
	vertical-align: bottom;
	text-align:center;
	min-width:980px;
}

#footer > div {
	width: 70%;
	margin: auto;
	padding: 0 0 0 10px;
	height: 55px;
	vertical-align: bottom;
	min-width:980px;
	text-align:left;
}

/** Logo **/
#header .logo {
	float: left;
	margin-left: 10px;
}
#header .logo a {
	/**	background: url(../images/logo.png) no-repeat center top;**/
	color: #000;
	display: block;
	font: 30px 'Exo';
	line-height:20px;
	height: 60px;
	padding-top: 40px;
	text-decoration: none;
	text-transform: uppercase;
}

#upper-border {
	background-color:#333333;
	min-height:20px;
	max-width:100%;
}
/** Navigation **/


#navigation {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	width: 60%;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 22%;
	text-align: center;
}
#navigation li a {
	color: #818181;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li a.active{
	color: #C10228;
}
#navigation li:first-child {
	
	margin-left:5%;
	
}

/*------------------------------ CONTENTS ------------------------------*/

#contents {
	width: 0%;
	margin: 0 auto;
	padding: 60px 0%;
	min-width: 990px;
	height: 100%;
	padding-bottom: 200px;
	position:relative;
}
h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	
	margin: 0 0 30px;
	text-indent:55px;
}
p a {
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	/*float: left;
	width: 400px;*/
	margin: 0 2% 0 2%;
	display: inline-block;
}
#contents .features {
	width: 810px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #727272;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
	background-color: #f99600;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url(../images/divider.png) repeat-y right top;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;
}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
#about {
	width: 740px;
	margin: 0 auto;
}
#about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.section {
	float: left;
	width: 390px;
	margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}
.message input[type='text'], .message textarea {
	color: #aeaeae;
	font-size: 13px;
	height: 33px;
	line-height: 33px;
	width: 380px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;
	resize:vertical;
}

.message input[type='submit'] {
	float: right;
	background-color: #818181;
	color: #d5d5d5;
	cursor: pointer;
	font: 13px/30px Arial, Helvetica, sans-serif;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}

.tab-left-content{
	width: 45%;
	float:left;
	text-align:center;
	display:block;
}

.tab-right-content{
	width: 55%;
	float:right;
	overflow:hidden;
	text-align:left;
}

#tab1 {
	display: inline-block;
	height:100%;
	width:100%;
	margin:auto;
	min-width:800px;
}

#tab1 .tab-left-content{
	margin-top:30px;
	font-size:30px;
	display:inline-block;
	float:left;
	width: 20%;
}

#tab1 .tab-right-content{
	font-size:16px;
	margin-top:10px;
	text-align:justify;
	height:100%;
	display: inline-block;
	width: 70%;
	float: left;
}


#tab2 .tab-left-content{
	width: 75%;
	max-width:820px;
}

#tab2 .tab-right-content{
	width: 17%;
	padding-left: 8%;
	text-align:center;
	margin:auto;
}

.right-content-skills-details{
	text-align:left;
	margin-top: 50px;
}

.skill-details-text{
	margin-top:20px;
	display:inline-block;
	font-size:16px;
	margin-left:5px;
}

#tab3{
	display:inline-block;
}

#tab3 .tab-left-content{
	width:20%;
	min-width: 200px;
}

#tab3 .tab-right-content{
	width:75%;
	float:left;
}


#tab4{
	overflow:hidden;
	float: left;
	display:inline;
	width:100%;
}

#tab4 .tab-left-content{
	padding-left:30px;
	padding-right:35px;
	width:20%;
	min-width: 300px;
	text-align:left;
	border-right: 1px ridge #999;
	min-height:430px;
}

#tab4 .tab-right-content{
	width:60%;
	min-width: 300px;
	min-height:430px;
}

.tab-headers{
	font-size:62px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	margin-bottom: 5%;
	width: 100%;
}

#resume-download-button{
	float:right;
	margin-right:1%;
}

#my-email {
	float:left;
	padding-top: 50%;
}

#contents #tagline #tab-content #tab4 .tab-right-content form table {
	text-align: left;
	padding-left: 10px;
	margin-top: 40px;
}

#greeting{
	font-size:larger;
	color: #AC1313;
	display:block;
	margin-left:40px;
}

.resume-left-content {
	margin: 2px 10px 0px 0px;
	padding-right:10px;
	float: left;
	height: auto;
	width: 100%;
	display: inline-block;
	
}

hr {
	width:100%;
	float:left;
	margin: 20px 10px 30px 0px;
}

.reduce-size-font{
	font-size:medium;
}

#tab2 .tab-left-left{
	float:left;
	margin-top: 20px;
	display:inline-block;
}

#tab2 .tab-left-right{
	float:right;
	margin-top: 20px;
	text-align: justify;
	margin-left: 50px;
	min-width: 400px;
	width:70%;
}

#talkbubble {
	width: 150px;
	height: 50px;
	position: relative;
	-moz-border-radius:    10px;
	-webkit-border-radius: 0px;
	border-radius:         10px;
	text-align:center;
	color:white;
	line-height:50px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	background-color: #6A0000;
}

#talkbubble:before {
 /*  content:"";
   position: absolute;
   right: -10%;
   top: 20px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-left: 26px solid #77022E;
   border-bottom: 13px solid transparent;*/
   
}

#skill-rectangles {
	width: auto;
	height: 25px;
	line-height:25px;
	position: relative;
	-moz-border-radius:    30px;
	-webkit-border-radius: 0px;
	border-radius:         3px;
	text-align:center;
	color:white;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	float: left;
	padding-left:4px;
	padding-right:4px;
	margin:3px 5px auto auto;
	background-color: #808080;
}

.company-info{
	display:inline-block;
	width:100%;
}

.company-info-text{
	padding-top:12px;
	float:left;
	width:60%;	
}

.company-info-logo{
	padding-top:15px;
	float:right;
	width:40%;
	min-width:100px;
}

.company-info-logo a img{
	margin:3px;
}

.company-name{
	text-align:left;
	font-size:22px;
	font-weight:bold;
}

.company-location{
	text-align:left;
	font-size:14px;;
	font-weight:lighter;
}

.job-title{
	text-align:left;
	font-size:16px;
	font-weight:bold;
	margin-top:16px;
	display:inline-block;
}

.time-period{
	font-size:12px;
}

.job-descr{
	padding-top:15px;
	float:left;
	font-size:14px;
} 

.project-details{
	width:100%;
	min-width:950px;
	display:inline-block;	
}

.project-title{
	font-weight:bold;
	text-align:left;
	font-size:32px;
	padding-bottom:5px;
}

.project-type{
	text-align:left;
	font-size:16px;
	padding-bottom:25px;
}

.project-descr{
	padding:0 0 10px 0;
}
 
.project-languages-used{
	margin-top:20px;	
	display:inline-block;
}
 
.project-tools-used{
	margin-top:20px;
	display:inline-block;
}
                
.more-about-project{
	margin-top:30px;
	float:left;
	width:50%;
/*visibility:hidden;*/
}

.more-about-project-class {
	display:none;
}
			
.project-images{
	float:left;
	max-width:30%;
}

.project-content-toggling-buttons {
	float:right;
	margin: 3px;	
}

.hide {
	visibility:hidden;
}
		
.textbox { 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 300px; 
} 

.textarea { 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:125px; 
    width: 300px; 
	max-width:400px;
} 
						 
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #6A0000;
	border-top: 1px solid #d8d8d8;
	margin-top:20px auto;
	padding: 50px 0%;
	position:absolute;
	bottom:0;
	height:45px;
	width:100%;
	font-size: 12px;
}
#footer p {
	font-size: 12px;
	line-height: 16px;
	padding-left: 10px;
	color:#CCCCCC;
}
#connect {
	float: right;
	display: inline-block;
	margin-right: 30px;
}
#connect img {
	display: inline-block;
	margin-right: 30px;
}
#connect a.googleplus {
	background-position: 0 -40px;
}
#connect a.twitter {
	background-position: 0 -80px;
}
#connect a.tumbler {
	background-position: 0 -120px;
}
#connect a.facebook:hover {
	background-position: -40px 0;
}
#connect a.googleplus:hover {
	background-position: -40px -40px;
}
#connect a.twitter:hover {
	background-position: -40px -80px;
}
#connect a.tumbler:hover {
	background-position: -40px -120px;
}
#connect img.linkedin {
	
}
#connect img.linkedin:hover {
	
}

#reset, #message-submit {
 border: 1px solid #777777;
  background: #6A0000;
  color: white;
  font: bold 12px 'Trebuchet MS';
  padding: 4px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}